.login-page {
    direction: rtl;
    background: linear-gradient(90deg, #dbdaf1, #5e9de6);
    width: 100%;
    overflow: hidden;


    .screen {
        background: linear-gradient(90deg, #3e22e6, #758bfd);
        position: relative;
        height: 100vh;
        box-shadow: 0px 0px 24px $mainPrimary;

        .screen__content {
            z-index: 1;
            position: relative;
            height: 100%;

            .login-btns {
.loginBtn,
.registerBtn{
    cursor: pointer;
    
}
                // padding-right: 20%;
                .deactive {

                    color: $textColor;

                    &:hover {
                        border-bottom: 3px solid $lightGray;

                    }
                }

                .active {
                    font-weight: bold;
                    color: $textColor;
                    border-bottom: 3px solid $mainPrimary;
                }
            }

            .login,
            .register {
                width: 320px;
                padding: 30px;

                // padding-top: 156px;
                // padding-right: 20%;
                .login__field,
                .register__field {
                    padding: 20px 0px;
                    position: relative;

                    .login__icon,
                    .register__icon {
                        position: absolute;
                        top: 30px;
                        color: $mainPrimary;
                    }

                    .login__input,
                    .register__input {
                        border: none;
                        border-bottom: 2px solid $lightGray;
                        background: none;
                        padding: 10px;
                        padding-right: 24px;
                        font-weight: 700;
                        width: 75%;
                        transition: .2s;

                        &:active,
                        &:focus,
                        &:hover {
                            outline: none;
                            border-bottom-color: $mainPrimary;
                        }
                    }
                }


                .login__submit,
                .register__submit {
                    text-decoration: none !important;
                    color: $mainWhite;
                    background-color: $mainPrimary;
                    // padding: 10px;
                    transition: all .3s linear;
                    border: none;

                    &:hover {
                        background-color: $mainBlack;
                    }

                    // background: $mainWhite;
                    font-size: 14px;
                    margin-top: 30px;
                    padding: 16px 20px;
                    border-radius: 26px;
                    // border: 1px solid $lightGray;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    // color: $mainPrimary;
                    // box-shadow: 0px 2px 2px $mainPrimary;
                    cursor: pointer;
                    // transition: .2s;

                    &:active,
                    &:focus,
                    &:hover {
                        background-color: $mainBlack;

                        // border-color: $mainPrimary;
                        outline: none;
                    }

                    .button__icon {
                        font-size: 24px;
                        margin-right: auto;
                        color: $mainWhite;
                    }
                }
            }

            .social-login {
                position: absolute;
                height: 140px;
                width: 160px;
                text-align: center;
                bottom: 0px;
                left: 0px;
                color: $mainWhite;

                .social-icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .social-login__icon {
                        padding: 20px 10px;
                        color: $mainWhite;
                        text-decoration: none;
                        text-shadow: 0px 0px 8px $mainPrimary;
                        font-size: 1.5rem;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }

        }

        .screen__background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);

            .screen__background__shape {
                transform: rotate(45deg);
                position: absolute;
            }

            .screen__background__shape1 {
                height: 600px;
                width: 600px;
                background: $mainWhite;
                top: -14%;
                // left: 120px;
                border-radius: 72px;
            }

            .screen__background__shape2 {
                height: 287px;
                width: 287px;
                background: $mainWhite;
                top: -172px;
                left: 0;
                opacity: .2;
                border-radius: 32px;
            }

            .screen__background__shape3 {
                height: 597px;
                width: 312px;
                background: linear-gradient(270deg, $mainWhite, $mainPrimary);
                top: -149px;
                left: 24px;
                opacity: .2;
                border-radius: 32px;
            }

            .screen__background__shape4 {
                height: 390px;
                width: 390px;
                background: $mainWhite;
                top: 420px;
                left: 50px;
                opacity: .2;
                border-radius: 60px;
            }

            .screen__background__shape5 {
                width: 597px;
                height: 312px;
                background: linear-gradient(270deg, $mainWhite, $mainPrimary);
                top: 270px;
                left: 270px;
                opacity: .2;
                border-radius: 32px;
            }
        }
    }
}

@include media(XS) {
    .screen__background__shape1 {
        width: 600px;
        height: 600px;
        top: -2%;
        right: -40%;
        // background-color: #3e22e6 !important;
    }
}

@include media(SM) {
    .screen__background__shape1 {
        top: -7% !important;
        right: -10% !important;
        // background-color: #3e22e6 !important;
    }
}

@include media(MD) {
    .screen__background__shape1 {
        top: -7% !important;
        right: -3% !important;
        // background-color: #3e22e6 !important;
    }
}

@include media(LG) {
    .screen__background__shape1 {
        top: -7% !important;
        height: 600px !important;
        width: 600px !important;
        right: -8% !important;
        // background-color: #3e22e6 !important;
    }
}

@include media(XLG) {
    .screen__background__shape1 {
        top: -7% !important;
        height: 650px !important;
        width: 650px !important;
        // right: -8% !important;
        // background-color: #3e22e6 !important;
    }
}

@include media(XXS) {
    .screen__background__shape1 {
        width: 450px !important;
        height: 450px !important;
        top: -4% !important;
        right: -27% !important;
        // background-color: #3e22e6 !important;
    }

    .login,
    .register {

        .login__field,
        .register__field {
            padding: 10px 0px !important;
        }
        .register__submit,
        .login__submit{
            width: 50% !important;
        }
    }
    .social-login{
        height: 110px !important;
        width: 150px !important;
    }
}